:root {
  --main-font: "Raleway", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --hover-color: rgba(33, 150, 243, 0.9);
  --main-color: #212121;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --background-main: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --images-border: #eeeeee;
}

.visually-hidden {
  position: absolute !important;
  clip: rect 1px 1px 1px 1px;
  clip: rect 1px, 1px, 1px, 1px;
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;

}

.header__container {
  display: flex;
  
  
}
.first__part  {
  max-width: 1600px;
  height: 600px;
  background-color: var(--background-main);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Imgbg.jpg");
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.our__team-tittle  {
  font-family: var(--secondary-font);
  font-size: 36px;
  line-height: 1.171;
  height: 42px;
  padding-top: 94px;
  text-align: center;
  padding-bottom: 50px;
}
.our__team-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
}
.images__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 64px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transform: scale(100%);
  opacity: 100%;
}

.container-modal {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 28px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: var(--white-color);
}

.close-bnt {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 1;
}

.is-hidden {
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transform: scale(0);
  opacity: 0;
}

.modal-tittle {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  width: 448px;
  height: 23px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.modal-undertittle {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
  color: rgb(117, 117, 117);
  margin-left: 40px;
}

.modal-box {
  position: relative;
}
.modal-box:focus + .modal-logo {
  fill: var(--hover-color);
}
.modal-box:hover, .modal-box:focus + .modal-logo {
  fill: var(--hover-color);
}

.modal-name {
  width: 448px;
  height: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
.modal-name:hover, .modal-name:focus {
  border-color: var(--hover-color);
  outline-color: var(--hover-color);
}
.modal-name:focus + .modal-logo {
  outline-color: var(--hover-color);
  fill: var(--hover-color);
}

.modal-logo {
  position: absolute;
  top: 16px;
  left: 55px;
}

.modal-comment {
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 1.166;
  color: var(--secondary-color);
  padding-left: 16px;
  padding-top: 12px;
  width: 448px;
  height: 120px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 4px;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  text-align: left;
}
.modal-comment:hover, .modal-comment:focus {
  border-color: var(--hover-color);
  outline-color: var(--hover-color);
}

.modal-form {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: 14px;
  line-height: 1.714;
  margin-right: 54px;
}

.modal-form-bnt-checkbox {
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid;
  border-radius: 2px;
  appearance: none;
  cursor: pointer;
  margin-left: 55px;
}
.modal-form-bnt-checkbox:checked {
  background-image: url(../images/Vector.svg);
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect 1px 1px 1px 1px;
  clip: rect 1px, 1px, 1px, 1px;
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
}

.modal-form-rules {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  vertical-align: top;
  color: var(--secondary-color);
  margin-right: 54px;
}

.modal_form-regulations-link {
  color: var(--hover-color);
}

.button-send {
  font-family: var(--secondary-font);
  font-weight: 700;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.navigation__logo {
  font-family: var(--main-font);
  width: 145px;
  height: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
  margin-right: 93px;
  padding-top: 24px;
}

.navigation__logo-sec {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.navigation__logo-down {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-color);
}

.navigation__logo-sec-down {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.logo__list {
  display: flex;
  list-style-type: none;
  
  
}
  
.logo__list-item:hover {
  color: var(--hover-color);
}

.bnt {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-top: 160px;
  margin-left: 485px;
}

.our__team_social {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.our__team_social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50% 50%;
  background-color: var(--white-color);
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our__team_social-item:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.our__team_social-item:hover > .social__links {
  fill: var(--white-color);
}

.social__links {
  fill: var(--icon-color);
  transition-property: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item {
  text-align: center;
}

.footer__team_list {
  display: flex;
  list-style-type: none;
}

.footer__team_list-item:not(:last-child) {
  padding-right: 10px;
}

.footer__team_links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50% 50%;
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__team_links:hover, .footer__team_links:focus {
  background-color: var(--hover-color);
}

.footer__team_links-icon {
  fill: var(--white-color);
}

.header {
  height: 80px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.header__container {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__list-item {
  padding-right: 46px;
  position: relative;
  text-align: center;
}

.navigation__list-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.029;
  color: var(--main-color);
  text-decoration: none;
  position: relative;
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list-link::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  border-radius: 2px;
  top: 43px;
  left: 1px;
  background-color: var(--white-color);
  transition: width 0.5s, left 0.5s;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list-link:hover::after {
  width: 100%;
  background-color: var(--hover-color);
  transition: width 0.5s, right 0.5s;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list-link:hover, .navigation__list-link:focus {
  color: var(--hover-color);
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__mailto {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: none;
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  
}
.logo__mailto:hover > .logo__icon {
  fill: var(--hover-color);
}
.logo__mailto:hover {
  color: var(--hover-color);
}

.logo__phone-number {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  cursor: pointer;
  margin-left: 32px;
  text-decoration: none;
  color: var(--secondary-color);
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__phone-number:hover > .logo__icon {
  fill: var(--hover-color);
}
.logo__phone-number:hover {
  color: var(--hover-color);
}

.logo__icon {
  font-weight: 700;
  width: 16px;
  height: 16px;
  fill: var(--secondary-color);
  margin-right: 10px;
  margin-bottom: -2.5px;
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__icon:hover {
  fill: var(--hover-color);
}

.first__part {
  max-width: 1600px;
  height: 600px;
  background-color: var(--background-main);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Imgbg.jpg");
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.first__part_tittle {
  font-family: var(--secondary-font);
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 200px;
  margin-right: auto;
  margin-left: auto;
}

.secound__part_list {
  list-style-type: none;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.secound__part_list-item {
  width: 270px;
  height: 120px;
  background-color: var(--background-color);
  border-radius: 4px;
}

.secound__part_icon {
  padding-left: 100px;
  padding-top: 25px;
}

.secound__part_tittle {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: var(--main-color);
}

.secound__part_under-tittle {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-color);
  width: 270px;
  height: 75px;
  padding-bottom: 94px;
}

.third__part-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.third__part-tittle {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.171;
  color: var(--main-color);
  padding-top: 160px;
  padding-bottom: 50px;
  text-align: center;
}

.aplication {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  margin-top: 224px;
  margin-left: -370px;
  justify-content: space-between;
  text-align: center;
  padding-top: 27px;
  color: var(--white-color);
}

.our__team {
  height: 648px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.our__team-tittle {
  font-family: var(--secondary-font);
  font-size: 36px;
  line-height: 1.171;
  height: 42px;
  padding-top: 94px;
  text-align: center;
  padding-bottom: 50px;
}

.our__team-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
}

.our__team-img {
  width: 270px;
  height: 428px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.our__team-name {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.171;
  color: var(--main-color);
  text-align: center;
  height: 19px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.our__team-job {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.171;
  color: var(--secondary-color);
  text-align: center;
  height: 19px;
}

.our__clients {
  height: 372px;
}

.our__clients_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  color: var(--main-color);
}

.our__clients_list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}

.our__clients_list-item {
  display: flex;
  fill: var(--icon-color);
  transition-property: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our__clients_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our__clients_link:hover > .our__clients_icons {
  fill: var(--hover-color);
}
.our__clients_link:hover, .our__clients_link:focus {
  border-color: var(--hover-color);
}

.our__clients_icons {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
  transition-property: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__part {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 56px;
}

.buttons__part_list:not(:last-child) {
  margin-right: 8px;
}

.buttons__part_list-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--main-color);
  border: none;
  height: 38px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  transition-property: var(--white-color) var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__part_list-item:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.images__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 64px;
}

.images__list_item {
  width: 370px;
  height: 404px;
  border: 1px solid var(--images-border);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(33.3333333333% - 30px);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-property: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
.images__list_item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.images__list_item:hover .images__list_item-text {
  transform: translateX(0px);
}

.images__list_item-container {
  position: relative;
  overflow: hidden;
}

.images__list_item-text {
  font-weight: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  width: 370px;
  height: 294px;
  justify-content: center;
  color: var(--white-color);
  background: var(--hover-color);
  padding-left: 24px;
  padding-top: 49px;
}

.images__item_container {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  width: 322px;
  height: 36px;
  justify-content: flex-start;
}

.images__item_tittle {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  width: 322px;
  height: 36px;
  justify-content: flex-start;
}

.images__item_undertittle {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-color);
  padding-bottom: 20px;
  padding-left: 24px;
}

.footer {
  height: 252px;
  background: var(--background-main);
  padding-top: 60px;
}

.footer__column {
  display: flex;
}

.footer__container {
  flex-direction: column;
}

.footer__address {
  font-style: normal;
  cursor: pointer;
  margin-left: auto;
}

.footer__address_list {
  list-style-type: none;
  padding-top: 20px;
}

.footer__address_item {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
  padding-bottom: 9px;
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address_item:hover {
  color: var(--hover-color);
}

.email__down {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email__down:hover {
  color: var(--hover-color);
}

.footer__address_item-phone {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address_item-phone:hover {
  color: var(--hover-color);
}

.join__us {
  flex-direction: column;
  padding-left: 70px;
}

.join__us-tittle {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: var(--white-color);
  padding-bottom: 20px;
}

.newsletter__tittle {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: var(--white-color);
  padding-left: 78px;
}

.form__label {
  display: flex;
}

.input__email {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  background-color: var(--background-main);
  margin-top: 20px;
  margin-left: 78px;
  border-radius: 4px;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0, 4, 4, 0;
  padding-left: 16px;
}

.button__sign {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--hover-color);
  width: 200px;
  height: 50px;
  text-align: center;
  color: var(--white-color);
  border-radius: 4px;
  border: 0;
  box-shadow: 0, 4, 4, 0;
  margin-top: 20px;
  margin-left: 12px;
}

.button__sign_logo {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-bottom: -8px;
}/*# sourceMappingURL=main.css.map */