 
 //mobile//

@media screen and (max-width: 767px){

.navigation{
  padding-top: 16px;
  
}

  .navigation__logo {
  font-family: var(--main-font);
  width: 134px;
  height: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
}
.navigation__logo-sec {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }
  

}

//tablets//

@media screen and (min-width: 768px) and (max-width:1199px){

  .navigation__logo {
    font-family: var(--main-font);
    width: 134px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--hover-color);
    text-decoration: none;
    cursor: pointer;
    margin-right: 73px;
    margin-top: 26px;
    margin-left: -20px;
  }
  .navigation__logo-sec {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.192;
      letter-spacing: 0.03em;
      color: var(--main-color);
      text-decoration: none;
      cursor: pointer;
    }
    

}

//desktop//

@media screen and (min-width: 1200px){
  .navigation__logo {
    font-family: var(--main-font);
    width: 145px;
    height: 31px;
  
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
  
    letter-spacing: 0.03em;
    color: var(--hover-color);
    text-decoration: none;
    cursor: pointer;
    margin-right: 93px;
    margin-top: 24px;
  }
  
  .navigation__logo-sec {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }

}





// .navigation__logo-down {
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.192;
//   letter-spacing: 0.03em;
//   text-decoration: none;

//   color: var(--hover-color);
// }

// .navigation__logo-sec-down {
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.192;
//   letter-spacing: 0.03em;
//   color: var(--white-color);
// }
// .logo__list {
//   display: flex;
//   list-style-type: none;

//   &-item:hover {
//     color: var(--hover-color);
  
//   }
// }


