@media screen and (max-width: 767px){
  .container {
    width: 480px;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width:1199px){
  .container {
    width: 768px;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px){
  .container {
    width: 1200px;
    align-items: center;
    margin: 0 auto;
  }
}


.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

  // .header-container &{
  //   display: flex;
  // }
  // .first-part &{
  //   max-width: 1600px;
  //   height: 600px;
  //   background-color: var(--background-main);
  //   background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)),
  //     url("../images/Imgbg.jpg");
  //   align-items: center;
  //   margin-right: auto;
  //   margin-left: auto;
  // }
  // .our__team-tittle &{
  //   font-family: var(--secondary-font);
  //   font-size: 36px;
  //   line-height: 1.171;
  //   height: 42px;
  //   padding-top: 94px;
  //   text-align: center;
  //   padding-bottom: 50px;
  // }
  // .our__team-list &{
  //   list-style-type: none;
  //   display: flex;
  //   margin-left: auto;
  //   margin-right: auto;
  //   justify-content: center;
  //   justify-content: space-between;
  //   padding-top: 50px;
  //   padding-bottom: 94px;
  // }
  // .images-list &{
  //   list-style-type: none;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   padding-bottom: 64px;
  // }
  


