:root {
  --main-font: "Raleway", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --hover-color: rgba(33, 150, 243, 0.9);
  --main-color: #212121;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --background-main: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --images-border: #eeeeee;
}
